accelerate==0.24.1
bitsandbytes==0.41.2.post2
datasets==2.14.6
deepspeed==0.12.2
packaging==23.2
peft==0.6.1
safetensors==0.4.0
scipy==1.11.3
sentencepiece==0.1.99
tensorboard==2.15.1
toml==0.10.2
transformers==4.35.0
jsonlines==4.0.0

# minimum Axolotl dependencies for what we use
addict==2.4.0
optimum==1.14.0
fschat==0.2.32
pynvml==11.5.0
evaluate==0.4.1
wandb==0.16.0
numba==0.58.1